/* .App {
  text-align: center;
}

.navBtn {
  margin: 20px;
  background: darkblue;
  border: none;
  border-radius: 12px;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
}
.nav {
  display: block;
  padding: 12px 30px;
  text-align: center;
  border-radius: 12px;
  font-size: 1.25rem;
  background: #ebe7e8;

  color: darkslateblue;
  transform: translateY(-8px);
}

.navBtn:active .nav {
  transform: translateY(-1px);
} */
